
@font-face {
  font-family: proggy;
  src: url(proggy.ttf);
}

:root {
    --accent: #FFFFFF;
}

body {
    font-family: "proggy", Arial, sans-serif;
    background-color: #191919;
    text-align: center;
    color: white;
    margin: 0;
}

a { color: var(--accent); }
a:hover { color: #C8C8C8; }

#title { cursor: pointer; }
#title:hover { color: #ababff; }

#about {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.accent { color: var(--accent); }

.box-content {
    border: 2px solid #777;
    padding: 20px;
}

.box-title {
    transform: translateX(-50%);
    background: #191919;
    position: relative;
    width: max-content;
    padding-right: 5px;
    padding-left: 5px;
    top: 1.65em;
    left: 50%;
}


/* This is the 'window' that hides the extra text */
.news-container {
    width: 100%;
    overflow: hidden; /* Stops the text from spilling out onto the page */
    position: absolute; /* Or fixed, depending on where you want it */
    top: 50;
}

#news {
    display: flex;
    width: max-content;  /* Forces the div to be as wide as all stories combined */
    white-space: nowrap; /* Forces text to stay on ONE line */
    gap: 180em;           /* Keeps your spacing */
    
    /* The Animation */
    animation: scroll-ticker 60s linear infinite;
}

@keyframes scroll-ticker {
    0% { transform: translateX(100vw); }   /* Start at right edge of screen */
    100% { transform: translateX(-100%); } /* End once the whole line passes the left edge */
}
